body{
    background-image: url(../Background.png);
    background-size: cover;
}

h1{
    width: 60%;
    margin: 50px 20%;
    text-align: center;
}
h1 a{
    text-decoration: none;
    color: white;
}
img {
    height: 300px;
    width: 50%;
    margin: 50px 25%;
    border: 3px solid yellow;
    border-radius: 5px;
}

p{
    width: 60%;
    margin: 0 20% 50px 20%;
    color: white;
    font-size: 1.5em;
}